.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.898926;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.942383;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.834473;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._3{width:8.360399px;}
._2{width:20.734797px;}
._4{width:26.360399px;}
._0{width:38.734797px;}
._1{width:55.611605px;}
.fc4{color:rgb(0,0,0);}
.fc0{color:rgb(144,194,38);}
.fc1{color:rgb(128,128,128);}
.fc2{color:rgb(64,64,64);}
.fc3{color:rgb(153,202,60);}
.fs5{font-size:59.599995px;}
.fs1{font-size:72.000000px;}
.fs6{font-size:72.400002px;}
.fs3{font-size:78.800003px;}
.fs7{font-size:88.000000px;}
.fs4{font-size:96.000000px;}
.fs2{font-size:144.000000px;}
.fs0{font-size:216.000000px;}
.y0{bottom:0.000000px;}
.y11{bottom:112.924225px;}
.y1c{bottom:137.607758px;}
.y10{bottom:139.324219px;}
.y15{bottom:139.324234px;}
.y1b{bottom:159.207764px;}
.y14{bottom:165.726196px;}
.y3{bottom:168.369652px;}
.yf{bottom:176.183258px;}
.y1a{bottom:190.807770px;}
.y2{bottom:199.969652px;}
.y13{bottom:202.585403px;}
.ye{bottom:204.985397px;}
.y19{bottom:222.406158px;}
.y1{bottom:237.030350px;}
.y8{bottom:256.583252px;}
.yd{bottom:279.724228px;}
.y7{bottom:285.383255px;}
.yb{bottom:285.606155px;}
.y18{bottom:285.607773px;}
.yc{bottom:306.124226px;}
.y12{bottom:306.126190px;}
.y6{bottom:314.183258px;}
.ya{bottom:317.206161px;}
.y17{bottom:317.207771px;}
.y5{bottom:342.985399px;}
.y9{bottom:348.806164px;}
.y16{bottom:348.807772px;}
.y4{bottom:453.462555px;}
.h6{height:53.085938px;}
.h2{height:60.117188px;}
.h5{height:73.476562px;}
.h4{height:80.156250px;}
.h3{height:120.234375px;}
.h1{height:180.351562px;}
.h0{height:540.000000px;}
.w0{width:960.000000px;}
.x0{left:0.000000px;}
.x3{left:60.533386px;}
.x4{left:87.533386px;}
.x5{left:92.033386px;}
.x7{left:96.533386px;}
.x6{left:110.033386px;}
.x9{left:114.533386px;}
.x8{left:119.033386px;}
.x1{left:453.036469px;}
.x2{left:576.250305px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._3{width:11.147198pt;}
._2{width:27.646396pt;}
._4{width:35.147198pt;}
._0{width:51.646396pt;}
._1{width:74.148806pt;}
.fs5{font-size:79.466660pt;}
.fs1{font-size:96.000000pt;}
.fs6{font-size:96.533335pt;}
.fs3{font-size:105.066671pt;}
.fs7{font-size:117.333333pt;}
.fs4{font-size:128.000000pt;}
.fs2{font-size:192.000000pt;}
.fs0{font-size:288.000000pt;}
.y0{bottom:0.000000pt;}
.y11{bottom:150.565633pt;}
.y1c{bottom:183.477010pt;}
.y10{bottom:185.765625pt;}
.y15{bottom:185.765645pt;}
.y1b{bottom:212.277018pt;}
.y14{bottom:220.968262pt;}
.y3{bottom:224.492869pt;}
.yf{bottom:234.911011pt;}
.y1a{bottom:254.410360pt;}
.y2{bottom:266.626203pt;}
.y13{bottom:270.113871pt;}
.ye{bottom:273.313863pt;}
.y19{bottom:296.541545pt;}
.y1{bottom:316.040466pt;}
.y8{bottom:342.111003pt;}
.yd{bottom:372.965637pt;}
.y7{bottom:380.511007pt;}
.yb{bottom:380.808207pt;}
.y18{bottom:380.810364pt;}
.yc{bottom:408.165634pt;}
.y12{bottom:408.168254pt;}
.y6{bottom:418.911011pt;}
.ya{bottom:422.941549pt;}
.y17{bottom:422.943695pt;}
.y5{bottom:457.313866pt;}
.y9{bottom:465.074885pt;}
.y16{bottom:465.077029pt;}
.y4{bottom:604.616740pt;}
.h6{height:70.781250pt;}
.h2{height:80.156250pt;}
.h5{height:97.968750pt;}
.h4{height:106.875000pt;}
.h3{height:160.312500pt;}
.h1{height:240.468750pt;}
.h0{height:720.000000pt;}
.w0{width:1280.000000pt;}
.x0{left:0.000000pt;}
.x3{left:80.711182pt;}
.x4{left:116.711182pt;}
.x5{left:122.711182pt;}
.x7{left:128.711182pt;}
.x6{left:146.711182pt;}
.x9{left:152.711182pt;}
.x8{left:158.711182pt;}
.x1{left:604.048625pt;}
.x2{left:768.333740pt;}
}
