*{
	margin:0;
	padding:0;
}

body {
	background-color: #555;
}

h1{
	text-align:center;
	color:#88F;
	font-size:30px;
	line-height:60px;
	font-family:"微軟正黑體";
	text-shadow:1px 1px 1px #000000;                                 
}

#BOX{
	width:95%;
	margin:30px auto;
}
.BOX{
	width:95%;
	margin:10px auto;
}

.tmp img{
	border:4px solid #FFF;
	box-shadow:1px 5px 10px #333;
	cursor:pointer;               
	margin-bottom:7px;
}

.tmp{
	/*padding: 5px 10px;
	border: #f6bb9e 5px solid;*/
	
	/*float:left;*/
}
img#BIG{
	border:10px solid #FFF;
	box-shadow:1px 5px 10px #333;
	cursor:default;
}
img#BIG01{
	border:10px solid #FFF;
	box-shadow:1px 5px 10px #333;
	cursor:default;
}
#BIGMAP{
	float:right;
	border:10px solid #FFF;
	box-shadow:1px 5px 10px #333;
	cursor:default;
}

